$white: #fff;
$custom-red-hover: #FE470F;
$dd-gray: #E8E8E8;
$extra-small: 12px;
$base: 16px;
$base-weight: 300;
$gray-light: #d6d6d6;
$bg: red;
$text-color-default: black;
$dd-blue: #3498DB;
$dd-green: #28B463;
$dd-orange: #F39C12;
$dd-red: #C0392B;
$bg-dark: gray;